<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zut.mfs.dao.UserPermissionRelationDao">
    <select id="getPermissionList">
        SELECT permission.*
        FROM user_permission_relation
                 LEFT JOIN permission ON permission.id = user_permission_relation.permission_id
        WHERE user_permission_relation.user_id = #{userId}
          AND permission.id IS NOT NULL
        GROUP BY permission.id
    </select>
</mapper>