<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zut.mfs.dao.UserLoginLogDao">
    <select id="list" resultType="cn.edu.zut.mfs.domain.UserLoginLog">
        select user_login_log.*
        from user_login_log
        where (user_login_log.user_id like CONCAT('%', #{keyword}, '%') or
               user_login_log.ip like CONCAT('%', #{keyword}, '%'))
    </select>
</mapper>